@use '@angular/material' as mat;
@import '~material-design-icons/iconfont/material-icons.css';
@import 'variables.scss';

@include mat.core();
@include mat.strong-focus-indicators((
  --border-style: dotted,
  border-width: 0px,
  border-radius: 0px,
));

$my-accent: mat.define-palette(mat.$indigo-palette, A200, A100, A400);

$my-dark-theme: mat.define-dark-theme((
  color: (
    primary: $byli-primary,
    accent: $my-accent,
  )
));
$my-light-theme: mat.define-light-theme((
  color: (
    primary: $byli-primary,
    accent: $my-accent,
  )
));


$my-custom-level: mat.define-typography-level(
  $font-family: Roboto,
  $font-weight: 400,
  $font-size: 1rem,
  $line-height: 1,
  $letter-spacing: normal,
);

$duration: 5s;
$text-color: rgba(255, 255, 255, 0.3);
$bgr-color: #333;

@include mat.all-component-themes($my-dark-theme);

@include mat.strong-focus-indicators-theme(rgb(75, 134, 168));

body{
    display: flex;
    width: 100vw;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 1.15rem;
    line-height: 30px;
}
img{
  max-width: 90vw !important;
}
p{
  word-wrap: break-word;
}

h1{
  line-height: 50px;
}

::-webkit-scrollbar {
  width: 4px;
  height: 15px;
}

::-webkit-scrollbar-track-piece  {
  background-color:#bdc3c7;
}

::-webkit-scrollbar-thumb:vertical {
  height: 30px;
  background-color: grey;
}
a {
  text-decoration: none;
}
a {
  color: orange;
}
a:hover {
  color: darkorange; 
}  
  